{% extends "./base.html" %}

{% block title %}
    Achievements
{% endblock title %}

{% csrf_token %}
{% block content %}
    <h1>Player Achievement: {{ achievement_key.achievement }}</h1>
    <fieldset>
    <h3>Competition Stats:</h3>
        <ul>
            <li>Appearances in the season: {{ achievement_key.appearances }}</li>
            <li>Scored Goals in the tournament: {{ achievement_key.scored_goals }}</li>
            <li>Clean Sheets: {{ achievement_key.clean_sheets }}</li>
        </ul>
    </fieldset>
{% endblock content %}