{% extends "./base.html" %}
{% block title %}
    New Player registration
{% endblock title %}

{% block content %}
    <h1>New Football Player registration</h1>
    <form method="POST">
        <fieldset>
            {% csrf_token %}
            {% if error_message %}<p>{{ error_message }}</p>{% endif %}<p>
            {{ form.name }} Enter a new player Name with at least 2 characters<p>
            {{ form.position }} Specify a new player Position using only upper case symbols(e.g. GK, CB, CMF, ST, LW, CAM)<p>
            {{ form.club }} Specify a new player Club using only alphabets<p>
            {{ form.transfer_fee }} Specify a new player Market value in range 1-150 millions euros<p>
{#            <span><strong>{{ error }}</strong></span><p>#}
            <span><strong>{% if error_message %}<p>{{ error_message }}</p>{% endif %}</strong></span><p>
            <button class="btn btn_success" type="submit">Save</button><p>
        </fieldset>
    </form><br>

{#            <input type="text" name="name" id="player_name" value="{{ "" }}">#}
{#            <label for="player_name">Please enter the New Player's name</label>#}
{#            <p>#}
{#            <input type="text" name="position" id="player_position" value="{{ "" }}">#}
{#            <label for="player_position">Please specify the position of the New Player (e.g. GK, CB, CMF, ST, LW, CAM)</label>#}
{##}
{#            <fieldset>#}
{#                <legend>Please select the New Player's football club:</legend>#}
{#                <div>#}
{#                    <input type="radio" id="contactChoice1" name="contact" value="PSG"  />#}
{#                    <label for="contactChoice1">PSG</label>#}
{#                    <input type="radio" id="contactChoice2" name="contact" value="Parma" />#}
{#                    <label for="contactChoice2">Parma</label>#}
{#                    <input type="radio" id="contactChoice3" name="contact" value="Juventus" />#}
{#                    <label for="contactChoice3">Juventus</label>#}
{#                    <input type="radio" id="contactChoice3" name="contact" value="Milan" />#}
{#                    <label for="contactChoice4">Milan</label>#}
{#                    <input type="radio" id="contactChoice3" name="contact" value="Barcelona" />#}
{#                    <label for="contactChoice5">Barcelona</label>#}
{#                    <input type="radio" id="contactChoice3" name="contact" value="Real Madrid" />#}
{#                    <label for="contactChoice6">Real Madrid</label>#}
{#                </div>#}
{#            </fieldset>#}
{#                <p>#}
{#                <label for="new_item">Please specify Market value otherwise computer will do it for you</label>#}
{#                <input name="fee" id="new_item" value="" />#}
{#    <button type="submit"></button>#}
{#    </form>#}

{% endblock content %}